<button class='btn btn-warning' {{action 'toggleModal'}}>Edit Question</button>

{{#if isShowingModal}}
  {{#modal-dialog close='toggleModal'
    targetAttachment="center"
    translucentOverlay=true
    container-class="wider"}}
    <form>
      <div class="form-group">
        <label for="content">Question:</label>
        {{input value=content id="content" class="form-control" placeholder=question.content}}
      </div>
      <div class="form-group">
        <label for="info">Additional Notes:</label>
        {{input value=info id="info" class="form-control" placeholder=question.info}}
      </div>
      <button class="btn btn-success" {{action 'updateQuestion' question}}>Save Edits</button>
    </form>
  {{/modal-dialog}}
{{/if}}
