<ul>
  {{#each model as |question|}}
    <li>{{moment-format question.timestamp 'LLL'}} {{#link-to 'question' question.id}} {{question.content}} - {{answer-amount question.answers.length}}{{/link-to}}</li>
  {{/each}}
</ul>
