<h3>New to QuEmber? Sign up here!</h3>
{{signup-form users=model submitSignup='submitSignup'}}
<h3>Already a QuEmber Member (see what we did there)? Log in here!</h3>
{{login-form submitLogin='submitLogin'}}
