{{question-display question=model destroyQuestion='destroyQuestion' updateQuestion='updateQuestion'saveQuestion='saveQuestion' saveAnswer='saveAnswer'}}

<h2>How people have answered: </h2>
{{#if model.answers}}
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer updateAnswer='updateAnswer' destroyAnswer='destroyAnswer'}}
  {{/each}}
{{else}}
  <h3>No answers yet! Why not add one using the button above?</h3>
{{/if}}
