<div class="row">
  {{user-display user=model logOut='logOut' updateUser='updateUser'}}
  <div class="col-sm-10">
    <ul class="nav nav-tabs nav-justified">
      {{#link-to 'user.questions' model.id tagName="li"}}<a {{bind-attr href="view.href"}}>Questions</a>{{/link-to}}
      {{#link-to 'user.answers' model.id tagName="li"}}<a {{bind-attr href="view.href"}}>Answers</a>{{/link-to}}    
    </ul>
    {{outlet}}
  </div>
</div>
